.container{
    font-family: sans-serif;
}

.header{
    text-align: center;
    
}

.title1{
    font-size: 36px;
    margin-top: 125px;
}

.title2{
    font-size: 20px;
    margin-top: 36px;
}

.total_form {
    width: 75%;
  }
  
.total_form>div {
width: 100%;
}
.total_form {
margin: 0px auto;
margin-top: 80px;
display: flex;
max-width: 65%;
height: auto;
}
.total_form>div>input{
height: 51px;
padding: 3px 5px;
}

.type_from{
    width: 100%;
    height: 100%;
}

.type_from>input, .type_to>input {
    width: 100%;
    padding: 10px;
    height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    margin-right: 10px;
}
.btn{
    margin-top: 19px;
    margin-left: 14px;
    width: 150px;
    height: 60px;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    background-color: #d74f57;
    border: none;
}
:hover .btn{
    color: wheat;
}

.note{
    text-align: center;
    margin-top: 20px;
}







